* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.main_title{
    font-size: 120px;
    font-weight: 700;
    background: linear-gradient(45deg, #274fbd, #01d8fd, #14dfea, #3fc12a, #F9AC07, #5406d9, #e912a3, #7a3bca, #F9AC07, #7a3bca);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: Title 30s ease infinite;
}
@keyframes Title {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items:center;
    height: 65vh;
}

/* Recipes list */
.list {
    display: inline-flex;
    flex-direction: row;
    padding: 40px 5px;
    width: 70vw;
    height: 35vh;
    justify-content: space-around;
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3%;
}
.container .list .image {
    width: 200px;
    height: 200px;
    
}

.container .list .list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container .list .list_item .list_link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
} 

.container .list .list_item .list_link:hover{
    font-size: 18px;
    background: linear-gradient(to right, #274fbd 0%, #01d8fd 50%, #14dfea 50%, #F9AC07 50%, #5406d9 50%, #e912a3 50%, #7a3bca 50%, #F9AC07 50%, #7a3bca 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*  styles for recepes */
.recipe {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.recipe .recipe_title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.recipe .recipe_lower_title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.recipe .recipe_img {
    width: 400px;
    height: 400px;
    margin-bottom: 30px;
}

.recipe .recipe_description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.recipe .recipe_ingredients,
.recipe .recipe_steps {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
}

.recipe .recipe_steps{
 margin-bottom: 0;
}

.main_content {
    margin-bottom: 20px;
}
.home {
    align-self:flex-end;
}

.home .home_icon {
    fill: #7a3bca;
}

.home .home_icon:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}